<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<style type="text/css">
			.basic{
				font-size:30px;
				font:bolder '微软雅黑'; 
				text-align:center;
				padding-top:10px;
				padding-bottom:10px;
				border-bottom: 1px dotted #b6b6b6;
				
			}
			.content{
				font:bolder '微软雅黑'; 
				line-height: 30px;
				text-indent: 2em;
			}
			.service{
				font-size:30px;
				font:bolder '微软雅黑'; 
				text-align:center;
				padding-top:10px;
				padding-bottom:10px;
				border-bottom: 1px dotted #b6b6b6;
				
			}
		</style>
	</head>
	<body>
		<div class="u-1">
			<p class="basic">基本情况</p>
			<div class="u-2" >
				<div align="center">
					<img src="../img/QQ图片20191007234823.jpg" width="500px" />
				</div>
				<p class="content">  西南石油大学本科教育源于1958年，现有16个教学学院、1个新能源和非常规油气研究院。学科专业涵盖理学、工学、管理学、经济学、文学、法学、教育、艺术8个学科门类，有在校学生的本科专业为68个，有8个国家特色专业建设点，16个四川省特色专业，1个国家大学生文化素质教育基地和11个四川省本科人才培养基地，国家精品课程1门、四川省精品课程36门、国家级精品资源共享课程1门、四川省精品资源共享课程14门、四川省精品在线开放课程1门、四川省创新创业教育示范课程2门。有国家级教学团队2个、省级教学团队7个，省级教学名师9人。学校现有实验教学中心（室）和各级各类科研基地（平台）59个。其中：国家重点实验室1个（油气藏地质及开发工程国家重点实验室），国家“111计划”地方高校学科创新引智基地1个，国家工程实验室、研发中心（协作）6个，国家大学科技园1个，国家技术转移示范机构1个，国家产业技术创新战略联盟4个；国际科技合作基地（平台、中心、实验室）4个；教育部重点实验室（工程研究中心）3个；国土资源部重点实验室（中心）1个；四川省重点实验室（研究院、基地、中心、产学研创新联盟）16个；四川省“2011计划”协同创新中心4个；中石油（重点）研究室12个；中海油（重点）实验室、研究院3个。</p>
			</div>
			<p class="service">本科人才培养目标及服务面向  </p>
			<p class="content">  人才培养目标：学校坚持“以学生发展为本”的本科教育理念，把“促进人的全面发展，适应社会需要”作为衡量教育质量的根本标准，坚持全面实施素质教育，注重个性化培养和创新教育，根据经济社会发展和国家建设对人才的需要，本着“宽口径、厚基础、重能力、求创新、健身心”的原则，培养综合素质高、知识结构好、创新意识浓、实践能力强和国际视野宽的高素质应用型、复合型和拔尖创新型人才。

服务面向：服务于我国石油天然气行业国内、国外“两种资源、两个市场”和区域经济社会发展需要。</p>
		</div>
	</body>
</html>
