<!-- 适应于velocity view导航-->
<DIV id="navBar" title="出错啦">
    <li><a href="$!{contextPath}/">首页111</a> <span class="divider">/</span></li>
    <li class="active">错误页面</li>
</DIV>

<div class="alert alert-error">
    <strong>无权访问，请先登录！</strong>
</div>

