#*<div class="banner m1200">
    <img src="../../assets/admin/layout/img/banner.jpg" border="0" width="1200" height="334">
</div>*#
<div id="slideBox" class="slideBox">
    <div class="hd">
        <ul>
            <li>
                <span>学院美景</span>
                <div class="dot">
                    <div class="liner"></div>
                </div>
            </li>
            <li>
                <span>我们毕业啦！</span>
                <div class="dot">
                    <div class="liner"></div>
                </div>
            </li>
            <li>
                <span>学校全景</span>
                <div class="dot">
                    <div class="liner"></div>
                </div>
            </li>
        #*<li>
            <span>OCR 3款新品火热邀测</span>
            <div class="dot">
                <div class="liner"></div>
            </div>
        </li>
        <li>
            <span>人脸离线识别SDK 2.0</span>
            <div class="dot">
                <div class="liner"></div>
            </div>
        </li>
        <li>
            <span>地标识别技术上线</span>
            <div class="dot">
                <div class="liner"></div>
            </div>
        </li>*#
        </ul>
    </div>
    <div class="bd">
        <ul>
            <li #*style="background-color: rgb(183, 159, 255);*#">
            <a href="#" target="_blank"><img src="../../pictureIn?subpath=banner/banner1.jpg"/></a>
            </li>
            <li #*style="background-color: rgb(56, 29, 140);"*#>
                <a href="#" target="_blank"><img src="../../pictureIn?subpath=banner/banner2.jpg"/></a>
            </li>
            <li #*style="background-color: rgb(56, 42, 186);"*#>
                <a href="#" target="_blank"><img src="../../pictureIn?subpath=banner/banner3.jpg"/></a>
            </li>
        </ul>
    </div>

    <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
#*<a class="prev" href="javascript:void(0)"></a>
<a class="next" href="javascript:void(0)"></a>*#

</div>
<script type="text/javascript" src="../../assets/global/plugins/jquery.min.js"></script>
<script type="text/javascript" src="../../assets/global/plugins/jquery.SuperSlide.2.1.3.js"></script>

<script type="text/javascript">
    jQuery(".slideBox").slide({
        mainCell: ".bd ul",
        effect: "fold",
        trigger: "click",
        autoPlay: true,
        mouseOverStop: false,
        startFun: function (i, c) {
            $('.bd ul li').removeClass('active').eq(i).addClass('active');
        }
    });
</script>