<link href="/../assets/admin/layout/css/main2.css" rel="stylesheet" type="text/css"/>
<div class="news2">
    <div class="news2kuang">
        <div class="news2Width lt">
            <div class="NoticeTit">
                <h2><a href="dwgz/djdt.htm">通知公告</a></h2>
                <span><a href="dwgz/djdt.htm">+ more</a></span>
            </div>
            <div class="listCont">
                <div class="listPic">
                    <a href="dwgz/djdt.htm" target="_blank"><img src=""></a></div>
                <ul>
                    <li><span>9-16</span>
                        <a href="https://www.swpu.edu.cn/nc/info/1006/5608.htm"
                           target="_blank"
                           title="西南石油大学信息学院关于2020届本科毕业生拟推荐免试硕士研究生结果的公示">
                            信息学院关于2020届本科毕业生拟推荐免试硕士研究生结果...</a></li>
                    <li><span>12-10</span>
                        <a href="info/1012/1120.htm" target="_blank"
                           title="信息学院2020届本科毕业生推荐免试硕士研究生实施细则">
                            信息学院2020届本科毕业生推荐免试硕士研究生实施细则...</a></li>
                    <li><span>8-30</span>
                        <a href="https://www.swpu.edu.cn/nc/info/1006/5453.htm"
                           target="_blank"
                           title="信息学院2019年秋季学期开学教学准备及常规教学检查工作实施方案">
                            信息学院2019年秋季学期开学教学准备及...</a></li>
                    <li><span>11-25</span>
                        <a href="https://www.swpu.edu.cn/nc/info/1006/5037.htm"
                           target="_blank"
                           title="信息学院2016级开展生产实习动员会">
                            信息学院2016级开展生产实习动员会...  </a></li>
                    <li><span>01-02</span>
                        <a href="https://www.swpu.edu.cn/nc/info/1006/3170.htm"
                           target="_blank"
                           title="2018年度教师课堂教学考核结果公示表">
                            2018年度教师课堂教学考核结果公示表...</a></li>
                    <li><span>01-02</span>
                        <a href="https://www.swpu.edu.cn/nc/info/1006/2878.htm"
                           target="_blank"
                           title="信息学院召开教学工作学生座谈会">
                            信息学院召开教学工作学生座谈会...</a></li>
                </ul>
            </div>
        </div>
        <div class="news2Width2 lt" style="margin-left: 55px">
            <div class="NoticeTit">
                <h2><a href="dwgz/djdt.htm">通知公告</a></h2>
                <span><a href="dwgz/djdt.htm">+ more</a></span>
            </div>
            <div class="listCont">
                <div class="listPic"><a href="dwgz/djdt.htm" target="_blank"><img src="images/ind_41.jpg"></a></div>
                <ul>
                    <li><span>9-16</span>
                        <a href="https://www.swpu.edu.cn/nc/info/1006/5608.htm"
                           target="_blank"
                           title="西南石油大学信息学院关于2020届本科毕业生拟推荐免试硕士研究生结果的公示">
                            信息学院关于2020届本科毕业生拟推荐免试硕士研究生结果...</a></li>
                    <li><span>12-10</span>
                        <a href="info/1012/1120.htm" target="_blank"
                           title="信息学院2020届本科毕业生推荐免试硕士研究生实施细则">
                            信息学院2020届本科毕业生推荐免试硕士研究生实施细则...</a></li>
                    <li><span>8-30</span>
                        <a href="https://www.swpu.edu.cn/nc/info/1006/5453.htm"
                           target="_blank"
                           title="信息学院2019年秋季学期开学教学准备及常规教学检查工作实施方案">
                            信息学院2019年秋季学期开学教学准备及...</a></li>
                    <li><span>11-25</span>
                        <a href="https://www.swpu.edu.cn/nc/info/1006/5037.htm"
                           target="_blank"
                           title="信息学院2016级开展生产实习动员会">
                            信息学院2016级开展生产实习动员会...  </a></li>
                    <li><span>01-02</span>
                        <a href="https://www.swpu.edu.cn/nc/info/1006/3170.htm"
                           target="_blank"
                           title="2018年度教师课堂教学考核结果公示表">
                            2018年度教师课堂教学考核结果公示表...</a></li>
                    <li><span>01-02</span>
                        <a href="https://www.swpu.edu.cn/nc/info/1006/2878.htm"
                           target="_blank"
                           title="信息学院召开教学工作学生座谈会">
                            信息学院召开教学工作学生座谈会...</a></li>
                </ul>
            </div>
        </div>
        <div class="news2Width3 lt" style="margin-left: 66px">
            <div class="NoticeTit">
                <h2><a href="dwgz/djdt.htm">通知公告</a></h2>
                <span><a href="dwgz/djdt.htm">+ more</a></span>
            </div>
            <div class="listCont">
                <div class="listPic"><a href="dwgz/djdt.htm" target="_blank"><img src="images/ind_41.jpg"></a></div>
                <ul>
                    <li><span>9-16</span>
                        <a href="https://www.swpu.edu.cn/nc/info/1006/5608.htm"
                           target="_blank"
                           title="西南石油大学信息学院关于2020届本科毕业生拟推荐免试硕士研究生结果的公示">
                            信息学院关于2020届本科毕业生拟推荐免试硕士研究生结果...</a></li>
                    <li><span>12-10</span>
                        <a href="info/1012/1120.htm" target="_blank"
                           title="信息学院2020届本科毕业生推荐免试硕士研究生实施细则">
                            信息学院2020届本科毕业生推荐免试硕士研究生实施细则...</a></li>
                    <li><span>8-30</span>
                        <a href="https://www.swpu.edu.cn/nc/info/1006/5453.htm"
                           target="_blank"
                           title="信息学院2019年秋季学期开学教学准备及常规教学检查工作实施方案">
                            信息学院2019年秋季学期开学教学准备及...</a></li>
                    <li><span>11-25</span>
                        <a href="https://www.swpu.edu.cn/nc/info/1006/5037.htm"
                           target="_blank"
                           title="信息学院2016级开展生产实习动员会">
                            信息学院2016级开展生产实习动员会...  </a></li>
                    <li><span>01-02</span>
                        <a href="https://www.swpu.edu.cn/nc/info/1006/3170.htm"
                           target="_blank"
                           title="2018年度教师课堂教学考核结果公示表">
                            2018年度教师课堂教学考核结果公示表...</a></li>
                    <li><span>01-02</span>
                        <a href="https://www.swpu.edu.cn/nc/info/1006/2878.htm"
                           target="_blank"
                           title="信息学院召开教学工作学生座谈会">
                            信息学院召开教学工作学生座谈会...</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="spwx">
    <div class="spwxContainer">
        <div class="column new-media">
            <div class="col-title">
                <i class="icon icon-xmts"></i>
                <span class="cn">学院新媒体</span>
                <span class="en">New Media</span>
            </div>
            <div class="content">
                <ul class="wb-list">
                    <li>
                        <div class="l1">
                            <img src="img/timg.jpg" class="ico">
                            <a href="https://weibo.com/p/1002065274378622/home?profile_ftype=1&is_all
                            =1#1569412232279"
                               title=" 晚安&nbsp;&nbsp;西柚" class="title" target="_blank">
                                <span class="weiboo" style="color: orange">#晚安 西柚#</span></a>
                            <span class="watch">
                           <a href="https://weibo.com/p/1002065274378622/home?profile_ftype=1&is_all=1#_0" target="_blank">+关注</a>
    </span>
                        </div>
                        <div class="l2">
                            每个人都会有缺陷，就像被上帝咬过的苹果，有的人缺陷比较大，正是因为上帝特别喜欢他的芬芳。

                            ——列夫·托尔斯泰《战争与和平》
                        </div>
                    </li>
                    <li>


                        <div class="l1">
                            <img src="img/u=4144779877,4039085119&fm=26&gp=0.jpg">
                            <a href="https://mp.weixin.qq.com/s/EuYRJJ5m6V2yfv93mMjd7w" title="学院动态 | 2019暑期社会实践答辩会"
                               class="title" id="gztit1">学院动态 | 2019暑期社会实践答辩会</a>
                            <img class="wechat" src="img/57F102EC5EBFC0A7A1A7F372DEFF4126.png">
                        </div>
                        <div class="l2">
                            9月20日晚信息学院在4303举行了2019暑期社会实践答辩会。
                            共有六支实践队参与
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="imageLinks_box">
    <div class="imageLinks_c">
        <div class="imageLinks_box_left">
            <div class="imageLinks_box_left_f">
                <h2>宣 传 片</h2>
            </div>
            <div class="imageLinks_box_left_v">
                <video src="" controls autoplay></video>
            </div>
        </div>
    </div>
</div>
<div class="spwx1">
   <div class="spwxContainer">
       <div class="column new-media">
           <div class="col-title">
               <span class="cn">快 速 链 接</span>
               <span class="en">QUICK LINKS</span>
           </div>
           <div class="imageLinks_box_right_p">
               <a href="#">
                   <div class="image" id="image1">
                       <div class="image_font">
                           <img src="" alt="">
                           <span>学校网站</span>
                       </div>
                   </div>
               </a>
               <a href="/teachers/login">
                   <div class="image" id="image2">
                       <div class="image_font">
                           <img src="" alt="">
                           <span>教师中心</span>
                       </div>
                   </div>
               </a>
               <a href="/students/login" target="_blank">
                   <div class="image" id="image3">
                       <div class="image_font">
                           <img src="" alt="">
                           <span>学生中心</span>
                       </div>
                   </div>
               </a>
               <a href="#">
                   <div class="image" id="image4" style="margin: auto">
                       <div class="image_font">
                           <img src="" alt="">
                           <span>石大宣传</span>
                       </div>
                   </div>
           </div>

       </div>

   </div>

</div>
