<div class="imageLinks_box">
    <div class="imageLinks_c">
        <div class="imageLinks_box_left">
            <div class="imageLinks_box_left_f">
                <h2>宣 传 片</h2>
            </div>
            <div class="imageLinks_box_left_v">
                <video src="" controls autoplay></video>
            </div>

        </div>
        <div class="imageLinks_box_right">
            <div class="imageLinks_box_right_f" >
                <h2>快 速 链 接</h2>
            </div>
            <div class="imageLinks_box_right_p">
                <a href="#">
                    <div class="image" id="image1">
                        <div class="image_font">
                            <img src="" alt="">
                            <span>学校网站</span>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="image" id="image2">
                        <div class="image_font">
                            <img src="" alt="">
                            <span>教师中心</span>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="image" id="image3">
                        <div class="image_font">
                            <img src="" alt="">
                            <span>学生中心</span>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="image" id="image4">
                        <div class="image_font">
                            <img src="" alt="">
                            <span>石大宣传</span>
                        </div>
                    </div>
                </a>
            </div>

        </div>

        #*<div class="imageLinks_box_down">
            <a href="#">
                <div class="image" id="image5">
                    <div class="image_font">
                        <img src="" alt="">
                        <span>石大指数</span>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="image" id="image6">
                    <div class="image_font">
                        <img src="" alt="">
                        <span>石大黄页</span>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="image" id="image7">
                    <div class="image_font">
                        <img src="" alt="">
                        <span>山海原经典网</span>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="image" id="image8">
                    <div class="image_font">
                        <img src="" alt="">
                        <span>石大新媒体</span>
                    </div>
                </div>
            </a>
        </div>*#
    </div>

</div>
