<div>
    <ul class="nav_menu m1200 cleafix">
        #foreach($functionParent in $functions)
            #if($functionParent.id == 1)
                <li class="nav_menu-item current">
                    <a href="javascript:;" onclick="main.menuGoTo('${functionParent.url}','')">
                        ${functionParent.name}</a>
                </li>
            #elseif (!$functionParent.parentId)
                <li class="nav_menu-item">
                    <a href="javascript:;" onclick="main.menuGoTo('${functionParent.url}','')">
                        ${functionParent.name}</a>
                    <ul class="nav_submenu">
                        #foreach($functionSub in $functions)
                            #if($functionSub.parentId == $functionParent.id)
                                <li class="nav_submenu-item">
                                    <a href="javascript:;" onclick="main.menuGoTo('${functionSub.url}','')"
                                       title="${functionSub.name}">${functionSub.name}</a>
                                </li>

                            #end
                        #end
                    </ul>
                </li>
            #end
        #end

    ##        <li class="nav_menu-item "><a href="xygk.htm" title="学院概况">学院概况</a>
    ##            <ul class="nav_submenu">
    ##            ##            <li class="nav_submenu-item"><a href="xygk/xyjj.htm" title="学院简介">学院简介</a>
    ##                <li class="nav_submenu-item"><a href="javascript:;" onclick="main.menuGoTo('/userInfo/list','')" title="学院简介">学院简介</a>
    ##                </li>
    ##
    ##            ##            <li>
    ##            ##                <a href="javascript:;" onclick="main.menuGoTo('${functionSub.url}','')">
    ##            ##                    <i class="$!{functionSub.icon}"></i>${functionSub.name}</a>
    ##            ##            </li>
    ##                <li class="nav_submenu-item"><a href="xygk/xyld.htm" title="学院领导">学院领导</a>
    ##                </li>
    ##                <li class="nav_submenu-item"><a href="xygk/zzjg.htm" title="组织机构">组织机构</a>
    ##                </li>
    ##                <li class="nav_submenu-item"><a href="xygk/xkjs.htm" title="学科建设">学科建设</a>
    ##                </li>
    ##                <li class="nav_submenu-item"><a href="xygk/xytp.htm" title="学院图片">学院图片</a>
    ##                </li>
    ##            </ul>
    ##        </li>
    ##        <li class="nav_menu-item "><a href="xsgz.htm" title="学生工作">学生工作</a>
    ##            <ul class="nav_submenu">
    ##                </li>
    ##                <li class="nav_submenu-item"><a href="xsgz/gzzd.htm" title="规章制度">规章制度</a>
    ##                </li>
    ##                <li class="nav_submenu-item"><a href="xsgz/sxjy.htm" title="思想教育">思想教育</a>
    ##                </li>
    ##                <li class="nav_submenu-item"><a href="xsgz/jzxj.htm" title="奖助学金">奖助学金</a>
    ##                </li>
    ##                <li class="nav_submenu-item"><a href="xsgz/xszz.htm" title="学生组织">学生组织</a>
    ##                </li>
    ##                <li class="nav_submenu-item"><a href="xsgz/xsdj.htm" title="学生党建">学生党建</a>
    ##                </li>
    ##                <li class="nav_submenu-item"><a href="xsgz/xskc.htm" title="学生科创">学生科创</a>
    ##                </li>
    ##                <li class="nav_submenu-item"><a href="xsgz/xljk.htm" title="心理健康">心理健康</a>
    ##                </li>
    ##            </ul>
    ##        </li>

    ##        <li class="nav_menu-item "><a href="dwgz.htm" title="党务工作">党务工作</a>
    ##            <ul class="nav_submenu">
    ##                <li class="nav_submenu-item"><a href="dwgz/djgz.htm" title="党建工作">党建工作</a>
    ##                </li>
    ##                <li class="nav_submenu-item"><a href="dwgz/jjgz.htm" title="纪检工作">纪检工作</a>
    ##                </li>
    ##                <li class="nav_submenu-item"><a href="dwgz/jdh_gh.htm" title="教代会、工会">教代会、工会</a>
    ##                </li>
    ##            </ul>
    ##        </li>
    ##
    ##        <li class="nav_menu-item "><a href="rcpy.htm" title="人才培养">人才培养</a>
    ##            <ul class="nav_submenu">
    ##                <li class="nav_submenu-item"><a href="rcpy/bkspy1/jxyx.htm" title="本科生培养">本科生培养</a>
    ##                </li>
    ##                <li class="nav_submenu-item"><a href="rcpy/yjspy1/tz.htm" title="研究生培养">研究生培养</a>
    ##                </li>
    ##                <li class="nav_submenu-item"><a href="rcpy/jxjy1/zkycj.htm" title="继续教育">继续教育</a>
    ##                </li>
    ##            </ul>
    ##        </li>
    ##        <li class="nav_menu-item "><a href="zsjy.htm" title="招生就业">招生就业</a>
    ##            <ul class="nav_submenu">
    ##                <li class="nav_submenu-item"><a href="zsjy/bkzs.htm" title="本科招生">本科招生</a>
    ##                </li>
    ##                </li>
    ##                <li class="nav_submenu-item"><a href="zsjy/jyxx.htm" title="就业信息">就业信息</a>
    ##                </li>
    ##                <li class="nav_submenu-item"><a href="zsjy/jyzc.htm" title="就业政策">就业政策</a>
    ##                </li>
    ##                <li class="nav_submenu-item"><a href="zsjy/jyzd.htm" title="就业指导">就业指导</a>
    ##                </li>
    ##            </ul>
    ##        </li>


    </ul>
</div>

