<div>
    <ul class="nav_menu m1200 cleafix">
        #foreach($functionParent in $functions)
            #if($functionParent.id == 1)
                <li class="nav_menu-item current">
                    <a href="javascript:;" onclick="main.menuGoTo('${functionParent.url}','')">
                        ${functionParent.name}</a>
                </li>
            #elseif (!$functionParent.parentId)
                <li class="nav_menu-item">
                    <a href="javascript:;" onclick="main.menuGoTo('${functionParent.url}','')">
                        ${functionParent.name}</a>
                    <ul class="nav_submenu">
                        #foreach($functionSub in $functions)
                            #if($functionSub.parentId == $functionParent.id)
                                <li class="nav_submenu-item">
                                    <a href="javascript:;" onclick="main.menuGoTo('${functionSub.url}','')"
                                       title="${functionSub.name}">${functionSub.name}</a>
                                </li>

                            #end
                        #end
                    </ul>
                </li>
            #end
        #end


    </ul>
</div>

