<div>
    <ul class="nav_menu">
        #foreach($functionParent in $functions)
            #if($functionParent.id == 1)
                <li class="nav_menu-item current">
                    <a href="javascript:;" onclick="main.menuGoTo('/index','')">
                        ${functionParent.name}</a>
                </li>
            #elseif (!$functionParent.parentId)
                <li class="nav_menu-item">
                    <a href="javascript:;" onclick="main.menuGoTo('${functionParent.url}','')">
                        ${functionParent.name}</a>
                    <ul class="nav_submenu">
                        #foreach($functionSub in $functions)
                            #if($functionSub.parentId == $functionParent.id)
                                <li class="nav_submenu-item">
                                    <a href="javascript:;" onclick="main.menuGoTo('${functionSub.url}','')"
                                       title="${functionSub.name}">${functionSub.name}</a>
                                </li>

                            #end
                        #end
                    </ul>
                </li>
            #end
        #end
      #*  <li class="nav_menu-item">
            <a href="javascript:;"><span>主页</span></a>
        </li>

        <li class="nav_menu-item">
            <a href="javascript:;"><span>学院简介</span></a>
            <ul class="nav_submenu">
                <li class="nav_submenu-item">
                    <a href="#"><span>校长寄语</span></a>
                </li>
                <li class="nav_submenu-item">
                    <a href="#"><span>学院领导</span></a>
                </li>
                <li class="nav_submenu-item">
                    <a href="#"><span>机构设置</span></a>
                </li>
                <li class="nav_submenu-item">
                    <a href="#"><span>规章动态</span></a>
                </li>
                <li class="nav_submenu-item">
                    <a href="#"><span>学院动态</span></a>
                </li>
            </ul>
        </li>

            <li class="nav_menu-item">
                <a href="javascript:;"><span>师资动态</span></a>
                <ul class="nav_submenu">
                    <li class="nav_submenu-item">
                        <a href="javascript:;"><span>在职教师</span></a>
                    </li>
                    <li class="nav_submenu-item">
                        <a href="javascript:;"><span>招聘信息</span></a>
                    </li>
                    <li class="nav_submenu-item">
                        <a href="javascript:;"><span>学术交流</span></a>
                    </li>
                    <li class="nav_submenu-item">
                        <a href="javascript:;"><span>师资队伍</span></a>
                    </li>
                    <li class="nav_submenu-item">
                        <a href="javascript:;"><span>科研实验室</span></a>
                    </li>
                </ul>
            </li>

            <li class="nav_menu-item">
                <a href="javascript:;"><span>教学管理</span></a>
                <ul class="nav_submenu">
                    <li class="nav_submenu-item">
                        <a href="javascript:;"><span>教学通知</span></a>
                    </li>
                    <li class="nav_submenu-item">
                        <a href="javascript:;"><span>管理制度</span></a>
                    </li>
                    <li class="nav_submenu-item">
                        <a href="javascript:;"><span>资料下载</span></a>
                    </li>
                    <li class="nav_submenu-item">
                        <a href="javascript:;"><span>教学历史</span></a>
                    </li>
                </ul>
            </li>

            <li class="nav_menu-item">
                <a href="javascript:;"><span>党建工作</span></a>
                <ul class="nav_submenu">
                    <li class="nav_submenu-item">
                        <a href="javascript:;"><span>党团快讯</span></a>
                    </li>
                    <li class="nav_submenu-item">
                        <a href="javascript:;"><span>工会之家</span></a>
                    </li>
                    <li class="nav_submenu-item">
                        <a href="javascript:;"><span>学习资料</span></a>
                    </li>
                </ul>
            </li>

            <li class="nav_menu-item">
                <a href="javascript:;"><span>学生工作</span></a>
                <ul class="nav_submenu">
                    <li class="nav_submenu-item">
                        <a href="javascript:;"><span>学工动态</span></a>
                    </li>
                    <li class="nav_submenu-item">
                        <a href="javascript:;"><span>学工通知</span></a>
                    </li>
                    <li class="nav_submenu-item">
                        <a href="javascript:;"><span>团学组织</span></a>
                    </li>
                    <li class="nav_submenu-item">
                        <a href="javascript:;"><span>心理辅导</span></a>
                    </li>
                    <li class="nav_submenu-item">
                        <a href="javascript:;"><span>学院学生会</span></a>
                    </li>
                    <li class="nav_submenu-item">
                        <a href="javascript:;"><span>学生活动</span></a>
                    </li>
                    <li class="nav_submenu-item">
                        <a href="javascript:;"><span>创新创业中心</span></a>
                    </li>
                    <li class="nav_submenu-item">
                        <a href="javascript:;"><span>本科生招生</span></a>
                    </li>
                    <li class="nav_submenu-item">
                        <a href="javascript:;"><span>考研，就业指导</span></a>
                    </li>
                </ul>
            </li>

            <li class="nav_menu-item">
                <a href="javascript:;"><span>学院教务评教</span></a>
                <ul class="nav_submenu">
                    <li class="nav_submenu-item">
                        <a href="javascript:;"><span>学生综合测评</span></a>
                    </li>
                    <li class="nav_submenu-item">
                        <a href="javascript:;"><span>学生评教</span></a>
                    </li>
                    <li class="nav_submenu-item">
                        <a href="javascript:;"><span>教师评测</span></a>
                    </li>
                </ul>
            </li>

    </ul>*#
</div>

