<div>
    <ul class="nav_menu m1200 cleafix">
        <li class="nav_menu-item current"><a href="index.htm" title="学院首页">学院首页</a>
        </li>
        <li class="nav_menu-item "><a href="xygk.htm" title="学院概况">学院概况</a>
            <ul class="nav_submenu">
            ##            <li class="nav_submenu-item"><a href="xygk/xyjj.htm" title="学院简介">学院简介</a>
                <li class="nav_submenu-item"><a href="javascript:;" onclick="main.menuGoTo('/userInfo/list','')" title="学院简介">学院简介</a>
                </li>

            ##            <li>
            ##                <a href="javascript:;" onclick="main.menuGoTo('${functionSub.url}','')">
            ##                    <i class="$!{functionSub.icon}"></i>${functionSub.name}</a>
            ##            </li>
                <li class="nav_submenu-item"><a href="xygk/xyld.htm" title="学院领导">学院领导</a>
                </li>
                <li class="nav_submenu-item"><a href="xygk/zzjg.htm" title="组织机构">组织机构</a>
                </li>
                <li class="nav_submenu-item"><a href="xygk/xkjs.htm" title="学科建设">学科建设</a>
                </li>
                <li class="nav_submenu-item"><a href="xygk/xytp.htm" title="学院图片">学院图片</a>
                </li>
            </ul>
        </li>
        <li class="nav_menu-item "><a href="xsgz.htm" title="学生工作">学生工作</a>
            <ul class="nav_submenu">
                <li class="nav_submenu-item"><a href="xsgz/xsgzdt.htm" title="学生工作动态">学生工作动态</a>
                </li>
                <li class="nav_submenu-item"><a href="xsgz/xsgztz.htm" title="学生工作通知">学生工作通知</a>
                </li>
                <li class="nav_submenu-item"><a href="xsgz/gzzd.htm" title="规章制度">规章制度</a>
                </li>
                <li class="nav_submenu-item"><a href="xsgz/sxjy.htm" title="思想教育">思想教育</a>
                </li>
                <li class="nav_submenu-item"><a href="xsgz/jzxj.htm" title="奖助学金">奖助学金</a>
                </li>
                <li class="nav_submenu-item"><a href="xsgz/xszz.htm" title="学生组织">学生组织</a>
                </li>
                <li class="nav_submenu-item"><a href="xsgz/xsdj.htm" title="学生党建">学生党建</a>
                </li>
                <li class="nav_submenu-item"><a href="xsgz/xskc.htm" title="学生科创">学生科创</a>
                </li>
                <li class="nav_submenu-item"><a href="xsgz/xljk.htm" title="心理健康">心理健康</a>
                </li>
            </ul>
        </li>
        <li class="nav_menu-item "><a href="jlhz.htm" title="交流合作">交流合作</a>
            <ul class="nav_submenu">
                <li class="nav_submenu-item"><a href="jlhz/gjjl.htm" title="国际交流">国际交流</a>
                </li>
                <li class="nav_submenu-item"><a href="jlhz/gnhz.htm" title="国内合作">国内合作</a>
                </li>
                <li class="nav_submenu-item"><a href="jlhz/lhlx.htm" title="来华留学">来华留学</a>
                </li>
                <li class="nav_submenu-item"><a href="jlhz/qyjl.htm" title="企业交流">企业交流</a>
                </li>
            </ul>
        </li>
        <li class="nav_menu-item "><a href="dwgz.htm" title="党务工作">党务工作</a>
            <ul class="nav_submenu">
                <li class="nav_submenu-item"><a href="dwgz/djgz.htm" title="党建工作">党建工作</a>
                </li>
                <li class="nav_submenu-item"><a href="dwgz/jjgz.htm" title="纪检工作">纪检工作</a>
                </li>
                <li class="nav_submenu-item"><a href="dwgz/jdh_gh.htm" title="教代会、工会">教代会、工会</a>
                </li>
            </ul>
        </li>
        <li class="nav_menu-item "><a href="jcxy.htm" title="杰出校友">杰出校友</a>
            <ul class="nav_submenu">
                <li class="nav_submenu-item"><a href="jcxy/xyda.htm" title="校友档案">校友档案</a>
                </li>
                <li class="nav_submenu-item"><a href="jcxy/gwyr.htm" title="国外友人">国外友人</a>
                </li>
            </ul>
        </li>
        <li class="nav_menu-item "><a href="xyry.htm" title="学院荣誉">学院荣誉</a>
        </li>
        <li class="nav_menu-item "><a href="fwzy.htm" title="服务资源">服务资源</a>
            <ul class="nav_submenu">
                <li class="nav_submenu-item"><a href="fwzy/bszn.htm" title="办事指南">办事指南</a>
                </li>
                <li class="nav_submenu-item"><a href="fwzy/cdxl.htm" title="川大校历">川大校历</a>
                </li>
                <li class="nav_submenu-item"><a href="fwzy/zlxz.htm" title="资料下载">资料下载</a>
                </li>
                <li class="nav_submenu-item"><a href="fwzy/ftl.htm" title="访谈录">访谈录</a>
                </li>
            </ul>
        </li>
        <li class="nav_menu-item "><a href="lxxx.htm" title="联系信息">联系信息</a>
        </li>
        <li class="nav_menu-item "><a href="rcpy.htm" title="人才培养">人才培养</a>
            <ul class="nav_submenu">
                <li class="nav_submenu-item"><a href="rcpy/bkspy1/jxyx.htm" title="本科生培养">本科生培养</a>
                </li>
                <li class="nav_submenu-item"><a href="rcpy/yjspy1/tz.htm" title="研究生培养">研究生培养</a>
                </li>
                <li class="nav_submenu-item"><a href="rcpy/jxjy1/zkycj.htm" title="继续教育">继续教育</a>
                </li>
            </ul>
        </li>
        <li class="nav_menu-item "><a href="zsjy.htm" title="招生就业">招生就业</a>
            <ul class="nav_submenu">
                <li class="nav_submenu-item"><a href="zsjy/bkzs.htm" title="本科招生">本科招生</a>
                </li>
                <li class="nav_submenu-item"><a href="zsjy/sszs.htm" title="硕士招生">硕士招生</a>
                </li>
                <li class="nav_submenu-item"><a href="zsjy/gcss.htm" title="工程硕士">工程硕士</a>
                </li>
                <li class="nav_submenu-item"><a href="zsjy/bszs.htm" title="博士招生">博士招生</a>
                </li>
                <li class="nav_submenu-item"><a href="zsjy/jyxx.htm" title="就业信息">就业信息</a>
                </li>
                <li class="nav_submenu-item"><a href="zsjy/jyzc.htm" title="就业政策">就业政策</a>
                </li>
                <li class="nav_submenu-item"><a href="zsjy/jyzd.htm" title="就业指导">就业指导</a>
                </li>
            </ul>
        </li>
        <li class="nav_menu-item "><a href="szdw.htm" title="师资队伍">师资队伍</a>
            <ul class="nav_submenu">
                <li class="nav_submenu-item"><a href="szdw/jsjkxx.htm" title="计算机科学系">计算机科学系</a>
                </li>
                <li class="nav_submenu-item"><a href="szdw/wlwgcx.htm" title="物联网工程系">物联网工程系</a>
                </li>
                <li class="nav_submenu-item"><a href="szdw/jsjwlytxx.htm" title="计算机网络与通信系">计算机网络与通信系</a>
                </li>
                <li class="nav_submenu-item"><a href="szdw/xxaqx.htm" title="信息安全系">信息安全系</a>
                </li>
                <li class="nav_submenu-item"><a href="szdw/rjgcx.htm" title="软件工程系">软件工程系</a>
                </li>
                <li class="nav_submenu-item"><a href="szdw/szylx.htm" title="数字娱乐系">数字娱乐系</a>
                </li>
                <li class="nav_submenu-item"><a href="szdw/sxzz.htm" title="思想政治">思想政治</a>
                </li>
                <li class="nav_submenu-item"><a href="szdw/IBMzx.htm" title="IBM中心">IBM中心</a>
                </li>
                <li class="nav_submenu-item"><a href="szdw/jsjjcjxsyzx.htm" title="计算机基础教学实验中心">计算机基础教学实验中心</a>
                </li>
                <li class="nav_submenu-item"><a href="szdw/txtxyjs.htm" title="图象图形研究所">图象图形研究所</a>
                </li>
                <li class="nav_submenu-item"><a href="szdw/rsgz1/rcyj.htm" title="人事工作">人事工作</a>
                </li>
                <li class="nav_submenu-item"><a href="szdw/msfc.htm" title="名师风采">名师风采</a>
                </li>
            </ul>
        </li>
        <li class="nav_menu-item "><a href="xsky.htm" title="学术科研">学术科研</a>
            <ul class="nav_submenu">
                <li class="nav_submenu-item"><a href="xsky/xskb.htm" title="学术看板">学术看板</a>
                </li>
                <li class="nav_submenu-item"><a href="xsky/kydt.htm" title="科研动态">科研动态</a>
                </li>
                <li class="nav_submenu-item"><a href="xsky/xyjj.htm" title="学院基金">学院基金</a>
                </li>
                <li class="nav_submenu-item"><a href="xsky/cgzs.htm" title="成果展示">成果展示</a>
                </li>
                <li class="nav_submenu-item"><a href="xsky/kytd.htm" title="科研团队">科研团队</a>
                </li>
                <li class="nav_submenu-item"><a href="xsky/xgzc.htm" title="相关政策">相关政策</a>
                </li>
                <li class="nav_submenu-item"><a href="xsky/kyjg.htm" title="科研机构">科研机构</a>
                </li>
            </ul>
        </li>

    </ul>
</div>

