<div class="top_box m1200">
    <div class="top_c">
        <a class="logo" href="index.htm">
            <img src="../../assets/admin/layout/img/top_logo.png" alt="信息学院" title="信息学院">
        </a>
        <div class="top_r">
            <script type="text/javascript">

                function _nl_ys_check() {
                }
            </script>
            <form action="search.jsp?wbtreeid=1001" method="post" id="au2a" name="au2a" onsubmit="return _nl_ys_check()"
                  style="display: inline">
                <input type="hidden" id="lucenenewssearchkey197010" name="lucenenewssearchkey" value=""><input
                    type="hidden" id="_lucenesearchtype197010" name="_lucenesearchtype" value="1"><input type="hidden"
                                                                                                         id="searchScope197010"
                                                                                                         name="searchScope"
                                                                                                         value="0">
                <div class="search cleafix ui-widget" >
                    <label for="tags"></label>
                    <input id="tags">
                    <input type="image" src="img/search.png" align="absmiddle" class="submit fl" style="cursor: hand">
                </div>
            </form>

        </div>
    </div>

</div>