<div class="top_box m1200">


    <a class="logo" href="index.htm" ><img src="img/logo.png" width="500" height="75" border="0" alt="信息学院" title="信息学院"></a>

##    <script language="javascript" src="/system/resource/js/dynclicks.js"></script><script language="javascript" src="/system/resource/js/openlink.js"></script><a class="toplink" href="http://www.scu.edu.cn/e_jsjxy" title="" onclick="_addDynClicks(&quot;wburl&quot;, 1447926190, 37672)">English</a>

    <script type="text/javascript">
        function _nl_ys_check(){

//            var keyword = document.getElementById('showkeycode197010').value;
//            if(keyword==null||keyword==""){
//                alert("请输入你要检索的内容！");
//                return false;
//            }
//            if(window.toFF==1)
//            {
//                document.getElementById("lucenenewssearchkey197010").value = Simplized(keyword );
//            }else
//            {
//                document.getElementById("lucenenewssearchkey197010").value = keyword;
//            }
//            var  base64 = new Base64();
//            document.getElementById("lucenenewssearchkey197010").value = base64.encode(document.getElementById("lucenenewssearchkey197010").value);
//            new VsbFormFunc().disableAutoEnable(document.getElementById("showkeycode197010"));
//            return true;
        }
    </script>
    <form action="search.jsp?wbtreeid=1001" method="post" id="au2a" name="au2a" onsubmit="return _nl_ys_check()" style="display: inline">
        <input type="hidden" id="lucenenewssearchkey197010" name="lucenenewssearchkey" value=""><input type="hidden" id="_lucenesearchtype197010" name="_lucenesearchtype" value="1"><input type="hidden" id="searchScope197010" name="searchScope" value="0">
        <div class="search cleafix">
            <input name="showkeycode" id="showkeycode197010" class="text fl" value="请输入关键词">
            <input type="image" src="img/search.png" align="absmiddle" class="submit fl" style="cursor: hand">
        </div>
    </form><script language="javascript" src="/system/resource/js/base64.js"></script><script language="javascript" src="/system/resource/js/formfunc.js"></script>

</div>