<html lang="en" class="no-js">
	<head>
		<title>新闻</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta content="" name="description"/>
        <meta content="" name="author"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="../../../css/news/reset.css" />
		<!--引入index.css用来引入首页样式-->
        <link rel="stylesheet" type="text/css" href="../../../assets/admin/layout/css/main.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/news/index.css" />
	</head>
	<body>
		<div class="top">
			#*#parse("common/head.vm")*#
			#parse("common/top.vm")
			#parse("common/menu.vm")
		</div>

		
		<div class="biaoti">
	        <div class="kong"></div>
	        <div class="didi">
	        	<p id="wei">首页.新闻</p>
	        	<p id="biao" class="type"></p>
	        </div>
	        
		</div>
		
		<div class="neirong">
			<div id="wbiao">
				<p id="new_biaoti" style="font-size: 30px;line-height: 2em;text-align: center;color: #000;"></p>
				<p style="font-size: 14px;line-height: 30px;text-align: center;color: #C9C9C9;">
					<span>来源 ：<span id="laiyuan"></span></span>
					<span>发布时间 ：<span id="shijian"> </span></span>
					<span>编辑 ：<span id="bianji"></span></span>
				</p>
			</div>
			<div>
                <img id="wtu" src="" alt="">
			</div>
			<div id="wnei">

			</div>
			
		</div>
		<div class="shangxia">
			<p>
				<span>上一条：</span>
				<a id="shangyitiao" href=""></a>
			</p>
			<p>
				<span>下一条：</span>
				<a id="xiayitiao" href=""></a>
			</p>
		</div>

		<div class="tiao">
			<a href="liebiao?messageType=0&&page=1">返回到列表页</a>
		</div>


		<div class="footer">
			#parse("common/footer.vm")
		</div>

        <script type="text/javascript">
            window.onload=function(){
                var new_biaoti = document.getElementById("new_biaoti");
                var biao =document.getElementById("biao");
                var wtu = document.getElementById("wtu");
                var wnei = document.getElementById("wnei");
                var shijian = document.getElementById("shijian");
				#foreach($message in $messages)
                    if($message.id == $id){
                        var messageTitle = '$message.messageTitle';  //新闻标题
                        var messageType = '$message.messageType';  //新闻类型
                        var messageContent = '$message.messageContent';   //新闻内容
                        var messageImg = '$message.messageImg';   //新闻图片
                        var messageCreateDate = '$message.createDate'   //新闻时间

                        new_biaoti.innerHTML = messageTitle;
                        biao.innerHTML = messageType;
                        wtu.src = messageImg;
                        wnei.innerHTML = messageContent;
                        shijian .innerHTML = messageCreateDate;
                    }
				#end

                var shangyitiaoId = ($id)-1;
                var shangyitiao = document.getElementById("shangyitiao");
				#foreach($message1 in $messages)
                    if($message1.id == shangyitiaoId){
                        var messageTitle1 = '$message1.messageTitle';
                        shangyitiao.href= 'index?id='+shangyitiaoId;
                        shangyitiao.innerHTML = messageTitle1;
                    }
				#end

                var xiayitiaoId = ($id)+1;
                var xiayitiao = document.getElementById("xiayitiao");
				#foreach($message2 in $messages)
                    if($message2.id == xiayitiaoId){
                        var messageTitle2 = '$message2.messageTitle';
                        xiayitiao.href= 'index?id='+xiayitiaoId;
                        xiayitiao.innerHTML = messageTitle2;
                    }
				#end
            }

        </script>

	</body>

</html>
