<html lang="en" class="no-js">
	<head>
		<meta charset="utf-8" />
        <title>新闻</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta content="" name="description"/>
        <meta content="" name="author"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../../css/news/reset.css"/>
        <link rel="stylesheet" type="text/css" href="../../../assets/admin/layout/css/main.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/news/liebiao.css" />
	</head>
	<body>
		<div class="top">
			#parse("common/head.vm")
			#parse("common/top.vm")
			#*#parse("common/menu.vm")*#
##			此处为头部
		</div>
		<div id="tu">
			<div id="tuzi">
				<div id="shang">
					<p id="zishang">新闻</p>
				</div>
				<p id="zixia">岷峨挺秀，锦水含章。巍巍学府，德渥群芳。四川大学是国家布局在西部的重点建设的高水平研究型综合大学,2017年入选国家世界一流大学建设A类... </p>
			</div>
		</div>
		<div id="nei">
			<div id="lei">
				<div id="leibiao">
					<h2>首页·新闻</h2>
				</div>
				<div class="menv_box">
					<ul class="cd-accordion-menu animated">
						<li class="has-children">
                            <a class="mulu" id="1" href="liebiao?messageType=1&&page=1">新闻聚焦</a>
						</li>

                        <li class="has-children">
                            <a class="mulu" id="2" href="liebiao?messageType=2&&page=1">学工通知</a>
						</li>

                        <li class="has-children">
                            <a class="mulu" id="3" href="liebiao?messageType=3&&page=1">党团快讯</a>
                        </li>

                        <li class="has-children">
                            <a class="mulu" id="4" href="liebiao?messageType=4&&page=1">活动</a>
                        </li>
					</ul>
				</div>
			</div>
			<div id="juti">
				<div id="biao"></div>
				<div id="tiao">
					<ul>
					  	<li class="dan"><a class="news"  name="zuiqian" href=""></a></li>
					  	<li class="shuang"><a class="news" href=""></a></li>
					  	<li class="dan"><a class="news" href=""></a></li>
					  	<li class="shuang"><a class="news" href=""></a></li>
					  	<li class="dan"><a class="news" href=""></a></li>
					  	<li class="shuang"><a class="news" href=""></a></li>
					  	<li class="dan"><a class="news" href=""></a></li>
					  	<li class="shuang"><a class="news" href=""></a></li>
					  	<li class="dan"><a class="news" href=""></a></li>
					  	<li class="shuang"><a class="news" href=""></a></li>
					  	<li class="dan"><a class="news" href=""></a></li>
					  	<li class="shuang"><a class="news" href=""></a></li>
					  	<li class="dan"><a class="news" href=""></a></li>
					  	<li class="shuang"><a class="news" href=""></a></li>
					  	<li class="dan"><a class="news" href=""></a></li>    <!--15-->
					</ul>
				</div>
				<div id="yeshu">
					<div id="kong">
						<button id="shangyiye"><a id="shangyiyea" href="">上一页</a></button>
						<button id="xiayiye"><a id="xiayiyea" href="">下一页</a></button>
						<form>
							<input id="shuru" type="number">
						</form> 
						<button id="tiaozhuan"><a id="tiaozhuana" href="">跳转</a></button>
						<p id="numberPage"></p>
					</div>
					
				</div>
			</div>
		</div>
		<div class="footer">
			#parse("common/footer.vm")

		</div>
		#*<script type="text/javascript" src="../../../js/common/jquery.min.js"></script>
		<script type="text/javascript" src="../../../js/main/news/main.js"></script>*#

        <script type="text/javascript">
            window.onload=function () {
                var page =$page;
                var messageType = new Array();
                var messageType1 = new Array();
                var messageType2 = new Array();
                var messageType3 = new Array();
                var messageType4 = new Array();
                var ma = 0 ,ma1 = 0 ,ma2 = 0 , ma3 = 0 ,ma4 = 0;
                var allPage = 0;
                #foreach($message in $messages)
                    messageType[ma] = $message.id;
                    ma++;
					if($message.messageType == 1){
						messageType1[ma1] = $message.id;
                    	ma1++;
                    }else if($message.messageType == 2){
						messageType2[ma2] = $message.id;
                    	ma2++;
                	}else if($message.messageType == 3){
						messageType3[ma3] = $message.id;
						ma3++;
					}else{
						messageType4[ma4] = $message.id;
						ma4++;
                	}
				#end

                var news = document.getElementsByClassName("news");
                if($messageType == 0){
                    allPage = parseInt(messageType.length/15)+1;
                    for (var a = (page-1)*15;a<messageType.length;a++){
						#foreach($message in $messages)
                            if($message.id == messageType[a]){
                            news[a].innerHTML = '$message.messageTitle';
                            news[a].id = $message.id;
                            news[a].href = "index?id="+$message.id;
                        }
						#end
                    }
                }else{
                    var mulu = document.getElementsByClassName("mulu");
                    for(var x = 0;x<mulu.length;x++){
                        if(mulu[x].id == $messageType){
                            for(var y = 0;y<mulu.length;y++){
                                mulu[y].style.color = "black";
                            }
                            mulu[x].style.color = "coral";
                        }
                    }
                    if($messageType == 1){
                        allPage = parseInt(messageType1.length/15)+1;
                        for (var a = (page-1)*15;a<messageType1.length;a++){
							#foreach($message in $messages)
                                if($message.id == messageType1[a]){
                                news[a].innerHTML = '$message.messageTitle';
                                news[a].id = $message.id;
                                news[a].href = "index?id="+$message.id;
                            	}
							#end
						}
                    }else 	if($messageType == 2){
                        allPage = parseInt(messageType2.length/15)+1;
                        for (var a = (page-1)*15;a<messageType2.length;a++){
							#foreach($message in $messages)
                                if($message.id == messageType2[a]){
                                news[a].innerHTML = '$message.messageTitle';
                                news[a].id = $message.id;
                                news[a].href = "index?id="+$message.id;
                            }
							#end
                        }
					}else 	if($messageType == 3){
                        allPage = parseInt(messageType3.length/15)+1;
                        for (var a = (page-1)*15;a<messageType3.length;a++){
							#foreach($message in $messages)
                                if($message.id == messageType3[a]){
                                news[a].innerHTML = '$message.messageTitle';
                                news[a].id = $message.id;
                                news[a].href = "index?id="+$message.id;
                            }
							#end
                        }
                    }else 	if($messageType == 4){
                        allPage = parseInt(messageType4.length/15)+1;
                        for (var a = (page-1)*15;a<messageType4.length;a++){
							#foreach($message in $messages)
                                if($message.id == messageType4[a]){
                                news[a].innerHTML = '$message.messageTitle';
                                news[a].id = $message.id;
                                news[a].href = "index?id="+$message.id;
                            }
							#end
                        }
                    }
                }

                /*shang,xia,tiao*/
                var shangyiye = document.getElementById("shangyiye");
                var shangyiyea = document.getElementById("shangyiyea");
                var xiayiye = document.getElementById("xiayiye");
                var xiayiyea = document.getElementById("xiayiyea");
                var tiao = document.getElementById("tiao");
				if(page <= 1){
				    shangyiye.removeChild(shangyiyea);
				    shangyiye.disabled = "flase";
                    shangyiye.style.width = "100px";
                    shangyiye.innerHTML="没有上一页";
				}
				if(page >= allPage){
                    xiayiye.removeChild(xiayiyea);
                    xiayiye.disabled = "flase";
                    xiayiye.style.width = "100px";
                    xiayiye.innerHTML="没有上一页";
				}
                var tiaozhuana = document.getElementById("tiaozhuana");
				var shuru = document.getElementById("shuru").value;
				if(shuru <= 1){
				    shuru = 1;
				}else if(shuru >= allPage){
				    shuru = allPage;
				}
				tiaozhuana.href = "liebiao?messageType=$messageType&&page="+shuru;

				var numberPage = document.getElementById("numberPage");
                numberPage.innerHTML = "页眉：$page/"+allPage;
            }
        </script>

	</body>
</html>






