#parse("common/head.vm")
#parse("common/top.vm")
#parse("common/menu.vm")

<!-- BEGIN CONTENT -->
<div class="container" id="main-page-content">
    <div class="container" id="main-page-content1">
        #parse("common/banner.vm")
    </div>
    <div class="container" id="main-page-content2">
        #parse("common/index.vm")
    </div>
    <div class="container" id="main-page-content3">
        #parse("common/imageLinks.vm")
    </div>
</div>
#parse("common/footer.vm")

