#parse("common/head.vm")
#parse("common/top0.vm")
#parse("common/menu0.vm")
#parse("common/banner.vm")

<!-- BEGIN CONTENT -->
<div class="container" id="main-page-content">
        #parse("common/index0.vm")
</div>

#parse("common/footer0.vm")

