<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../../../css/news/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../../../css/news/index.css" />
	</head>
	<body>
		<div class="top">
##			#parse("common/head.vm")
##			#parse("common/top.vm")
##			#parse("common/menu.vm")
			此处为头部
		</div>
		<div id="tu">
			<div id="tuzi">
				<div id="shang">
					<p id="zishang">新闻</p>
				</div>
				<p id="zixia">岷峨挺秀，锦水含章。巍巍学府，德渥群芳。四川大学是国家布局在西部的重点建设的高水平研究型综合大学,2017年入选国家世界一流大学建设A类... </p>
			</div>
		</div>
		<div id="nei">
			<div id="lei">
				<div id="leibiao">
					<h2>首页·新闻</h2>
				</div>
				<div class="menv_box">
					<ul class="cd-accordion-menu animated">
						#foreach($messageParent in $messages)
							#if($messageParent.messageParentType == 0)
								<li class="has-children">
									<input type="checkbox" name ="group-2" id="group-2">
									<label for="group-2">${messageParent.messageTypeName}</label>
									<ul>
										#foreach($messageChild in $messages)
											#if($messageChild.messageParentType == $messageParent.messageType)
												<li><a class="zibiaoqian" href="javascript:;" onclick="newGoTo("${messageChild.messageType}")">${messageChild.messageTypeName}</a></li>
											#end
										#end
									</ul>
									<script type="text/javascript">
										function newGoTo(messageType){
											var news = document.getElementsByClassName("news");
											for(var i = 0;i < news.length;i++){
												news[i].innerHTML = "";
												news[i].title = "";
											}
											#foreach($messager in $messages)
												if($messager.messageType == messageType){
													for(var i = 0;i < news.length;i++){
														if(news[i].title == ""){
															news[i].innerHTML = "$messager.messageTitle";
															news[i].title = "$messager.messageId";
														}
													}
												}
											#end
										}
									</script>
						  		</li>
						  	#end
						#end
						
					
						<li class="has-children">
							<input type="checkbox" name ="group-3" id="group-3">
							<label for="group-3">教室管理</label>
					
							<ul>
								<li><a class="zibiaoqian" href="#0">Image</a></li>
								<li><a class="zibiaoqian" href="#0">Image</a></li>
							</ul>
						</li>
					
						<li class="has-children">
							<input type="checkbox" name ="group-4" id="group-4">
							<label for="group-4">信息管理</label>
					
							<ul>
								<li class="has-children">
									<input type="checkbox" name ="sub-group-3" id="sub-group-3">
									<label for="sub-group-3">Sub Group 3</label>
					
									<ul>
										<li><a class="zibiaoqian" href="#0">Image</a></li>
										<li><a class="zibiaoqian" href="#0">Image</a></li>
									</ul>
								</li>
								<li><a class="zibiaoqian" href="#0">Image</a></li>
								<li><a class="zibiaoqian" href="#0">Image</a></li>
							</ul>
							
							<script type="text/javascript">
								var zibiaoqians = document.getElementsByClassName("zibiaoqian");
								for(var i = 0;i < zibiaoqians.length;i++){
									zibiaoqians[i].onclick = function(){
										for(var j = 0;j < zibiaoqians.length;j++){
											zibiaoqians[j].style.color = "black";
										}
										this.style.color = "coral";
									}
								}
							</script>
						</li>
						
					</ul>
				</div>
				
			</div>
			<div id="juti">
				<div id="biao"></div>
				<div id="tiao">
					<ul>
					  	<li class="dan"><a class="news" href="javascript:;" onclick="news()">1111</a></li>
					  	<li class="shuang"><a class="news" href="javascript:;" onclick="news()">2222</a></li>
					  	<li class="dan"><a class="news" href="javascript:;" onclick="news()">1111</a></li>
					  	<li class="shuang"><a class="news" href="javascript:;" onclick="news()">2222</a></li>
					  	<li class="dan"><a class="news" href="javascript:;" onclick="news()"></a></li>
					  	<li class="shuang"><a class="news" href="javascript:;" onclick="news()"></a></li>
					  	<li class="dan"><a class="news" href="javascript:;" onclick="news()"></a></li>
					  	<li class="shuang"><a class="news" href="javascript:;" onclick="news()"></a></li>
					  	<li class="dan"><a class="news" href="javascript:;" onclick="news()"></a></li>
					  	<li class="shuang"><a class="news" href="javascript:;" onclick="news()"></a></li>
					  	<li class="dan"><a class="news" href="javascript:;" onclick="news()"></a></li>
					  	<li class="shuang"><a class="news" href="javascript:;" onclick="news()"></a></li>
					  	<li class="dan"><a class="news" href="javascript:;" onclick=".news()"></a></li>
					  	<li class="shuang"><a class="news" href="javascript:;" onclick="news()"></a></li>
					  	<li class="dan"><a class="news" id="zuihou" href="javascript:;" onclick="news()"></a></li>    <!--15-->
					</ul>
				</div>
				<div id="yeshu">
					<div id="kong">
						<button id="shangyiye" onclick="shang()">上一页</button>
						<script type="text/javascript">
				            function shang(){
				                var zuihouId = document.getElementById("zuihou").title;
				                var news = document.getElementsByClassName("news");
				                for(var i = 0;i < news.length;i++){
				                    news[i].innerHTML = "";
				                    news[i].title = "";
				                }
				                $(function(){
				                    #foreach($messager in $messages)
				                        if('$messager.messageId' == zuihouId){
				                            var type = '$messager.messageType';
				                        }
				                    #end
				                    #foreach($message in $messages)
				                        if('$message.messageType' == type || '$message.messageId' <= zuihouId - 15 || '$message.messageId' > zuihouId - 30){
				                            for(var i = 0;i < news.length;i++){
				                                if(news[i].title == ""){
				                                    news[i].innerHTML = "$message.messageTitle";
				                                    news[i].title = "$message.messageId";
				                                }
				                            }
				                        }
				                    #end
				                });
				            }
				        </script>
						<button id="xiayiye" onclick="xia()">下一页</button>
						<script type="text/javascript">
				            function xia(){
				                var zuihouId = document.getElementById("zuihou").title;
				                var news = document.getElementsByClassName("news");
				                for(var i = 0;i < news.length;i++){
				                    news[i].innerHTML = "";
				                    news[i].title = "";
				                }
				                $(function(){
				                    #foreach($messager in $messages)
				                        if('$messager.messageId' == zuihouId){
				                            var type = '$messager.messageType';
				                        }
				                    #end
				                    #foreach($message in $messages)
				                        if('$message.messageType' == type || '$message.messageId' <= zuihouId + 15 || '$message.messageId' >= zuihouId + 1){
				                            for(var i = 0;i < news.length;i++){
				                                if(news[i].title == ""){
				                                    news[i].innerHTML = "$message.messageTitle";
				                                    news[i].title = "$message.messageId";
				                                }
				                            }
				                        }
				                    #end
				                });
				            }
				        </script>
						<form>
							<input id="shuru" type="text" value="输入页数">
							<script type="text/javascript">
								var shuru = document.getElementById("shuru");
								shuru.onclick = function(){
									shuru.value = "";
									shuru.style.color = "black";
								}
							</script>
						</form> 
						<button onclick="main.tiao()">跳转</button>
						<script type="text/javascript">
							function tiao(){
								var zuihouId = document.getElementById("zuihou").title;
								var news = document.getElementsByClassName("news");
								var value = document.getElementById("shuru").value;
								for(var i = 0;i < news.length;i++){
									news[i].innerHTML = "";
									news[i].title = "";
								}
								$(function(){
									#foreach($messager in $messages)
					                        if('$messager.messageId' == zuihouId){
					                            var type = '$messager.messageType';
					                        }
					                    #end
				                    #foreach($message in $messages)
				                        if('$message.messageType' == type || '$message.messageId' <= value*15 || '$message.messageId' > value*15-15){
				                            for(var i = 0;i < news.length;i++){
				                                if(news[i].title == ""){
				                                    news[i].innerHTML = "$message.messageTitle";
				                                    news[i].title = "$message.messageId";
				                                }
				                            }
				                        }
				                    #end
								})
							}
						</script>
					</div>
					
				</div>
			</div>
		</div>
		<div class="footer">
##			#parse("common/footer.vm")
			此处为footer
		</div>
		<script type="text/javascript" src="../../../../js/common/jquery.min.js"></script>
		<script type="text/javascript" src="../../../../js/main/news/main.js"></script>
	</body>
</html>






