<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
##    #parse("manager/managerIndex.vm")
    <title>管理界面</title>

    <link rel="stylesheet" href="../../../assets/admin/pages/css/managerReset.css">
    <link rel="stylesheet" href="../../../assets/admin/pages/css/managerStyle.css">
</head>

<body>
<div class="title">
    <h1>HERE IS TITLE</h1>
</div>
<table border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td class="ComboBox">
            <!---边侧选择栏--->
            <div>
                <table class="con"width="200" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </td>
        <!---边侧选择栏--->
        <td>
            <form action="/message/addOneMessge.action" method="post">
                <table>
                    <tr>
                        <td class="details1" width="130">文章标题</td>
                        <td class="details2" width="900" >
                            <input name="messageTitle" class="point" type="text" placeholder="请输入文章标题" size="18" /></td>
                    </tr>

                    <tr>
                        <td class="details1">发布频道</td>
                        <td class="details2">
                            <select name="messageType">
                                <option value ="1">新闻聚焦</option>
                                <option value="2">学工通知</option>
                                <option value="3">党团快讯</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="details1">文章封面图片</td>
                        <td class="details2"><button name="messageImg">点击上传封面图</button></td>
                    </tr>
                    <tr>
                        <td class="details1">文章内容</td>
                        <td class="details2"><textarea name="messageContent">请输入文章内容</textarea></td>
                    </tr>

                </table>
                <input type="submit" value="保存"></td>
            </form>

        </td>
    </tr>
</table>
</body>
</html>
