<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css"
      href="../../assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="../../assets/global/plugins/select2/select2.css"/>
<link rel="stylesheet" type="text/css"
      href="../../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css"/>
<link rel="stylesheet" type="text/css"
      href="../../assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"/>

<div class="list m1200 cleafix">

    <div class="list_link fl">
        <h2>学院概况</h2>
        <ul>
            <li><a class="current" href="xyjj.htm" title="学院简介">学院简介</a></li>
            <li><a class="" href="xyld.htm" title="学院领导">学院领导</a></li>
            <li><a class="" href="zzjg.htm" title="组织机构">组织机构</a></li>
            <li><a class="" href="xkjs.htm" title="学科建设">学科建设</a></li>
            <li><a class="" href="xytp.htm" title="学院图片">学院图片</a></li>
        </ul>
    </div>

    <div class="dp fr">
        <div class="dp_t cleafix">
            <h2 class="fl">学院简介</h2>
            <div class="dqwz fr">
                <i class="icon-home"></i>
                <span>当前位置：</span>
                <span><a href="../index.htm">学院首页</a></span>
                &gt;
                <span><a href="../xygk.htm">学院概况</a></span>
                &gt;
                <span><a href="xyjj.htm">学院简介</a></span>
            </div>
        </div>



        <script language="javascript" src="/system/resource/js/ajax.js"></script><script language="javascript">_getBatchClickTimes('null',1447926190,'wbnews','u9')</script>
        <script>function seeContenta9(contentid,size,displayid){	document.getElementById(contentid).innerHTML = '[';	for(var i=0;i<=size;i++){		var allcontentid = contentid+(i+1);		if(allcontentid==displayid){			document.getElementById(contentid).innerHTML += " <span id='"+allcontentid+"' name='"+allcontentid+"'  >"+(i+1)+"</span> ";			document.getElementById(displayid).style.display = 'block';		}else{			document.getElementById(contentid).innerHTML += " <span style='cursor:pointer' id='"+allcontentid+"' name='"+allcontentid+"' onclick=seeContenta9('"+contentid+"','"+size+"','"+allcontentid+"')  >"+(i+1)+"</span> ";			document.getElementById(allcontentid).style.display = 'none';		}	}	document.getElementById(contentid).innerHTML += ']';}</script>
        <script>_addDynClicks('wbnews',1447926190,1963)</script>
        <div class="dp_c">
            <div id="vsb_content_1963_u91"><div id="vsb_content"><table width="89%" align="center" cellspacing="0" cellpadding="0" text-align="justify">
                <tbody>
                <tr class="firstRow">
                    <td class="nhangjv" id="zoom" valign="top" td="" style="line-height: 19px; font-size: 14px;"><br> &nbsp; &nbsp;
                        <div id="BodyLabel">
     <span style="font-family: 黑体; font-size: 12px;"> &nbsp; &nbsp; &nbsp;
      <div align="left">
       　　四川大学1958年设立计算机专业相关方向，1981年建立计算机科学系，1998年6月设立计算机学院。软件学院成立于2001年12月，是教育部和国家计委批准的首批35所国家级示范性软件学院之一。2005年，计算机学院和软件学院行政班子合并，实行“一套班子、两块牌子”的管理模式。
      </div>
      <div align="left">
       　　学院现有教职工258人，其中教师201人，中国科学院院士1人、四川大学理科杰出教授1人、IEEE Fellow 1人、国家优秀青年科学基金项目入选者1人、国家青年千人计划1人、教育部新(跨)世纪人才8人。正高级专业技术职务38人，副高级专业技术职务72人；硕博士导师80人。
      </div>
      <div align="left">
       　　学院拥有“计算机应用技术”国家二级重点学科和“计算机科学与技术”四川省一级重点学科，有“计算机科学与技术”和“软件工程”两个一级学科博士学位授权点、“电子与信息”工程博士专业学位授予权、 “计算机科学与技术”博士后科研流动站。
      </div>
      <div align="left">
       　　学院拥有良好的科研平台，有视觉合成图形图像技术国防重点学科实验室、国家空管自动化系统技术重点实验室两个国家级创新平台，教育部现代交通管理系统技术工程研究中心、医疗信息化技术教育部工程研究中心、四川省网络大数据认知分析工程实验室等多个省部级研究中心与实验室，以及大数据分析和智能空管系统两个四川省2011协同创新中心。
      </div>
      <div align="left">
       　　学院在基础理论研究与应用研究方面协调发展，先后承担国家科技攻关项目、“973”项目、“863”项目以及国家自然科学基金项目等国家级项目85项、省部委项目近150项，累计科研经费超过七亿元。获得国家科技进步一等奖1项、二等奖3项，省部级奖50余项，标志性成果突出。累计发表SCI、EI检索收录论文750多篇，取得授权专利逾百项余项。
      </div>
      <div align="left">
       　　学院十分重视国际合作与交流，已与多所境外知名高校或研究机构建立了友好往来，开展学术交流和人才培养工作。
      </div></span> &nbsp; &nbsp;
                        </div></td>
                </tr>
                </tbody>
            </table>
                <p><br></p></div></div>
            <span id="vsb_content_1963_u9" name="vsb_content_1963_u9"></span><br><br>

        </div>

    </div>
</div>


<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="../../assets/global/plugins/select2/select2.min.js"></script>
<script type="text/javascript"
        src="../../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="../../assets/global/plugins/components-pickers.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/js/fmCategory/listPage.js" type="text/javascript"></script>
<script src="/js/fmCategory/fmCategory.js" type="text/javascript"></script>
<script src="/js/common/ajaxfileupload.js" type="text/javascript"></script>
<script>
    function categoryChange(categoryType) {
        var categoryTypeValue = $(categoryType).val();
        if (categoryTypeValue == 0) {
            $("#radioDiv").css("display", "block");
            $("#categoryIdDiv").css("display", "none");
            $("#categoryNameDiv").css("display", "none");
        } else if (categoryTypeValue == 1) {
            $("#radioDiv").css("display", "none");
            $("#categoryIdDiv").css("display", "block");
            $("#categoryNameDiv").css("display", "block");
        }
    }

</script>
