
/*<link rel="stylesheet" type="text/css"
href="../../assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css"/>*/
.introduce h2{
    text-align: center;
    line-height: 40px;
    font-size: 27px;
    color: #ce232f;
    margin-bottom: 10px;
}
