.news_box {
    width: 100%;
    float: left;
    margin-top: 45px;
}
.news_box {
    width: 295px;
    float: left;
    margin-top: 60px;
    padding-right: 40px;
}
.news_right {
    width: 375px;
    float: right;
    margin-top: 0;
}
.newsTitle h3 {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #000;
    display: block;
    float: left;
    font-weight: normal;
    margin-right: 5px;
}
.newsTitle span {
    display: block;
    color: #c71508;
    float: left;
    font-size: 14px;
}
.newsTitle-box{
    width: 295px;
    float: left;
    margin-top: 60px;
    padding-right: 40px;
}
.newsTitle{
    background: url(/img/jiao-l.jpg) no-repeat right 16px;
    float: left;
    padding-right: 10px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
}
.news_left{
    width: 375px;
    margin-top: 0;
}
.news_left{
    width: 295px;
    float: left;
    margin-top: 60px;
}