##list的翻页处理，根据不同的list进行修改如下即可

##每页显示条数;
#set($pageSize=${listPage.pageSize} )
##总页数;
#set($totalPage=${listPage.totalCount} / ${listPage.pageSize})
#if(${listPage.totalCount} % ${listPage.pageSize} != 0)
    #set($totalPage = $totalPage + 1)
#end
##当前页码;
#set($curPageNum=$!{listPage.currentPage})
<input type="hidden" id="curPageNum" value="$!{listPage.currentPage}"/>
<div class="row">
    <div class="col-md-5 col-sm-12">
        <div class="dataTables_info" id="list_table_info" role="status" aria-live="polite">共 ${listPage.totalCount}
            条,每页显示 ${pageSize}条,当前第${curPageNum}页
        </div>
    </div>

    <div class="col-md-7 col-sm-12">
        <div class="dataTables_paginate paging_simple_numbers">
            <ul class="pagination">


                #if(${curPageNum} == 1)
                    <li id="list_table_previous" class="paginate_button previous disabled">
                        <a href="javascript:;"><!--上一页 -->上一页</a>
                    </li>
                    <li class="paginate_button active"><a href="javascript:;">${curPageNum}</a></li>
                #else
                    #set($preNum=${curPageNum} - 1)
                    <li id="list_table_previous" class="paginate_button previous">
                        <a href="javascript:;" onclick="listPageJS.turnPage(${preNum});return false;"><!--上一页 -->上一页</a>
                    </li>
                    <li class="paginate_button"><a href="javascript:;"
                                                   onclick="listPageJS.turnPage(1);return false;">1</a></li>
                #end

                #if(${curPageNum} == 1 || $totalPage < 7)
                    #if(${totalPage} > 1)
                        <li #if(${curPageNum}==2)  class="paginate_button active"  #end ><a href="javascript:;"
                                                                                            onclick="listPageJS.turnPage(2);return false;">2</a>
                        </li>
                    #end
                    #if(${totalPage} > 2)
                        <li  #if(${curPageNum}==3) class="paginate_button active" #end ><a href="javascript:;"
                                                                                           onclick="listPageJS.turnPage(3);return false;">3</a>
                        </li>
                    #end
                    #if(${totalPage} > 3)
                        <li  #if(${curPageNum}==4)  class="paginate_button active" #end ><a href="javascript:;"
                                                                                            onclick="listPageJS.turnPage(4);return false;">4</a>
                        </li>
                    #end
                    #if(${totalPage} > 4)
                        <li   #if(${curPageNum}==5) class="paginate_button active" #end ><a href="javascript:;"
                                                                                            onclick="listPageJS.turnPage(5);return false;">5</a>
                        </li>
                    #end
                    #if(${totalPage} > 5)
                        <li  #if(${curPageNum}==6) class="paginate_button active" #end ><a href="javascript:;"
                                                                                           onclick="listPageJS.turnPage(6);return false;">6</a>
                        </li>
                    #end
                #end
                #if($totalPage > 6 && ${curPageNum} > 1)
                    <li class="paginate_button active"><a href="javascript:;" style="background: #ffffff;">...</a></li>

                #end
                #if($totalPage > 6 && ${curPageNum}==2)
                    <li class="paginate_button  active"><a onclick="listPageJS.turnPage(${curPageNum});return false;"
                                                           href="javascript:;">${curPageNum}</a></li>
                #end
                #if($totalPage > 6 && ${curPageNum}==3)
                    <li class="paginate_button  active"><a onclick="listPageJS.turnPage(${curPageNum});return false;"
                                                           href="javascript:;">${curPageNum}</a></li>
                #end
                #if($totalPage > 6 && ${curPageNum} > 3)
                    #set($curPageNumP1=${curPageNum} - 1)
                    #set($curPageNumP2=${curPageNum} - 2)
                    <li class="paginate_button"><a onclick="listPageJS.turnPage(${curPageNumP2});return false;"
                                                   href="javascript:;">${curPageNumP2}</a></li>
                    <li class="paginate_button"><a onclick="listPageJS.turnPage(${curPageNumP1});return false;"
                                                   href="javascript:;">${curPageNumP1}</a></li>
                    <li class="paginate_button active"><a onclick="listPageJS.turnPage(${curPageNum});return false;"
                                                          href="javascript:;">${curPageNum}</a></li>
                #end
                #if($totalPage > 6 && ${curPageNum} > 1)
                    #set($curPageNumN1=${curPageNum}+1)
                    #set($curPageNumN2=${curPageNum}+2)
                    #if(${curPageNumN1} < ${totalPage})
                        <li class="paginate_button"><a onclick="listPageJS.turnPage(${curPageNumN1});return false;"
                                                       href="javascript:;">${curPageNumN1}</a></li>
                    #end
                    #if(${curPageNumN2} < ${totalPage})
                        <li class="paginate_button"><a onclick="listPageJS.turnPage(${curPageNumN2});return false;"
                                                       href="javascript:;">${curPageNumN2}</a></li>
                    #end
                #end
                #if($totalPage > 6 && ${curPageNum} < ${totalPage} - 2)
                    <li class="paginate_button active"><a href="javascript:;" style="background: #ffffff;">...</a></li>
                    <li class="paginate_button"><a onclick="listPageJS.turnPage(${totalPage});return false;"
                                                   href="javascript:;">${totalPage}</a></li>
                #end
                #if($totalPage > 6)
                    #if($!{curPageNum} == ${totalPage} - 1 || $!{curPageNum} == ${totalPage} - 2)
                        <!--a class="on" href="javascript:;">$!{curPageNum}</a-->
                        <li class="paginate_button"><a onclick="listPageJS.turnPage(${totalPage});return false;"
                                                       href="javascript:;">${totalPage}</a></li>
                    #end
                #end
                #if($!{curPageNum} == $totalPage)

                    <li class="paginate_button next disabled"><a href="javascript:;"><!--下一页 -->下一页 </i></a></li>
                #else
                    #set($nextNum=${curPageNum} + 1)
                    <li class="paginate_button next"><a href="javascript:;"
                                                        onclick="listPageJS.turnPage(${nextNum});return false;">
                        <!--下一页 -->下一页 </a></li>
                #end
            </ul>
        </div>
    </div>

</div>