<link rel="stylesheet" type="text/css"
      href="../../assets/admin/pages/css/major.css"/>
<div>
    <div class="introduce">
        <h2> 数字媒体</h2>
    </div>
    <p class="MsoNormal" style="text-align: center;"><strong style="text-align: left; text-indent: -18pt;">
        <span lang="EN-US" style="font-size: 14pt;"><br></span></strong></p>

    <strong style="text-align: left; text-indent: -18pt;">>
        <span style="font-size: 14pt;">招生类别：</span><strong>
            <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">理科</span>

            <br>
            <strong style="text-align: left; text-indent: -18pt;">>
                <span style="font-size: 14pt">培养目标:</span></strong>

            <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">
                本专业培养德、智、体、美、劳全面发展，掌握与数字媒体相关的计算机科学与技术、
                信息与通信工程等学科的基本理论与知识，掌握互动媒体、网络媒体等数字内容创作、
                制作的基本技能和方法，能在传媒及文化产业相关领域从事技术应用、系统设计、产品开发、
                运营管理等工作的高素质复合型人才，毕业后经过五年左右的工程实践，
                能成长为具备系统专业知识体系和良好职业道德素养的工程技术人员，
                在团队中作为领导者或主要成员发挥重要作用。</span>
            <br>
            <strong>>
                <span style="font-size: 14pt;">
                主要课程有:</span><strong>
                <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">
            程序设计基础、数据结构及算法、
                    面向对象程序设计、数据库原理及应用、计算机图形学、计算机网络、
                    计算机系统、人机交互技术、计算机游戏设计、移动应用程序设计
                    、web应用程序设计、数字图像处理、影视特效技术等。
                </span>
                    <br>
                    <strong>>
                        <span style="font-size: 14pt;">
                            硕博点情况:</span></strong>
                    <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">
                         我校设有计算机科学与技术，软件工程、网络共空间安全等三个硕士点。
                            </span>
                    <br>
                    <strong>>
                        <span style="font-size: 14pt;">
                                    就业去向：
                                </span></strong>
                    <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">
                      数字媒体行业有望成为国民经济的重要支柱行业，发展前景非常广阔。本专业毕业生就业范围广，
                                        不受行业限制，近几年在全国各类人才需求中一直稳居前列。本专业方向学生毕业后可在游戏公司、门户网站、
移动媒体、电视台、高校、科研院所以及其他相关企事业单位从事技术应用、系统设计、产品开发、运营管理等工作。
                                    </span>
                    <br>
                    <strong>>
                        <span style="font-size: 14pt;">
                            深造去向：</span></strong>
                    <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">
                        本专业毕业生可攻读数字媒体技术、计算机方向硕士学位，硕士毕业后可继续攻读博士学位。
                    </span>
                    <br>
                    <strong>>
                        <span style="font-size: 14pt;">
                            培养对象：
                        </span></strong>
                    <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">
                        全日制大学本科，学制四年，授予工学学士学位。
                    </span>



</div>