<link rel="stylesheet" type="text/css"
      href="../../assets/admin/pages/css/major.css"/>
<div>
    <div class="introduce">
        <h2> 电子与计算机工程</h2>
    </div>
    <p class="MsoNormal" style="text-align: center;"><strong style="text-align: left; text-indent: -18pt;">
        <span lang="EN-US" style="font-size: 14pt;"><br></span></strong></p>

    <strong style="text-align: left; text-indent: -18pt;">>
        <span style="font-size: 14pt;">招生类别：</span><strong>
            <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">理科</span>

            <br>
            <strong style="text-align: left; text-indent: -18pt;">>
                <span style="font-size: 14pt">培养目标:</span></strong>

            <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">
               本专业培养德、智、体、美、劳全面发展，能够适应国家信息产业战略和社会经济发展需要，
                具备现代电子与计算机科学的专业知识以及较强的工程实践能力，
                能在电子信息与计算机应用领域从事开发、管理、维护等工作的应用型人才。
                毕业五年后，能应用所学知识与技能分析和解决电子与计算机应用领域的复杂工程问题，
                胜任系统设计和产品研发的技术或管理工作，并具有继续深造和持续发展的能力。</span>
            <br>
            <strong>>
                <span style="font-size: 14pt;">
                主要课程有:</span><strong>
                <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">
            电路与模拟电子技术基础、数字电子技术、程序设计基础、数据结构及算法、
                    计算机网络、计算机组成原理、面向对象程序设计、操作系统、
                    数据库原理及应用。
                </span>
                    <br>
                    <strong>>
                        <span style="font-size: 14pt;">
                            硕博点情况:</span></strong>
                    <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">
                         我校设有计算机科学与技术、软件工程、网络空间安全等三个硕士点。
                            </span>
                    <br>
                    <strong>>
                        <span style="font-size: 14pt;">
                                    就业去向：
                                </span></strong>
                    <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">
                      电子信息产业是目前国内外发展最迅速的领域，我国在制定面向21世纪科学技术发展战略计划中，
                        把电子与信息技术的发展列于首位。该专业毕业生就业范围广，不受行业限制，
                        近几年在全国各类人才需求中一直稳居前列。毕业生可以在邮电、通信、
                        金融以及电子信息与计算机应用领域的高新技术企业、
                        科研机构从事科研开发和技术管理工作，也可在政府机关和国民经济的诸多领域从事电子信息系统的维护管理工作。
                                    </span>
                    <br>
                    <strong>>
                        <span style="font-size: 14pt;">
                            深造去向：</span></strong>
                    <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">
                        本专业毕业生可攻读计算机方向硕士学位，硕士毕业后可继续攻读博士学位。
                    </span>
                    <br>
                    <strong>>
                        <span style="font-size: 14pt;">
                            培养对象：
                        </span></strong>
                    <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">
                        全日制大学本科，学制四年，授予工学学士学位。
                    </span>



</div>