<link rel="stylesheet" type="text/css"
      href="../../assets/admin/pages/css/major.css"/>
<div>
    <div class="introduce">
        <h2> 电气工程及其自动化</h2>
    </div>
    <p class="MsoNormal" style="text-align: center;"><strong style="text-align: left; text-indent: -18pt;">
        <span lang="EN-US" style="font-size: 14pt;"><br></span></strong></p>

    <strong style="text-align: left; text-indent: -18pt;">>
        <span style="font-size: 14pt;">招生类别：</span><strong>
            <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">理科</span>

            <br>
            <strong style="text-align: left; text-indent: -18pt;">>
                <span style="font-size: 14pt">培养目标:</span></strong>

            <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">
                本专业为教育部特设专业，是新工科重点建设和人工智能专业群核心专业之一。
                培养学生掌握工科基础理论知识及电能生产传输利用核心知识，掌握电气控制及自动化、
                智能检测及传感技术、人工智能及智能控制、自主系统与系统控制等方面专业理论知识，
                具有一定的创新精神及工程技术攻关能力，主要从事电气工程与智能控制领域相关的工程设计、
                运行控制、状态监测、信息处理、试验调试、研究开发、运营管理等方面工作的复合型高级工程技术人才。</span>
            <br>
            <strong>>
                <span style="font-size: 14pt;">
                主要课程有:</span><strong>
                <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">
            电路原理、模拟电子技术、数字电子技术、电子技术实验、信号与系统、电机学、电气工程基础、电力电子技术、
                    自动控制原理、人工智能基础、电气控制与可编程控制器、计算机控制技术、电力系统分析基础、
                    电能质量与新能源发电、智能检测与智能传感器技术、嵌入式系统设计、电力系统继电保护原理、电力系统自动化、
                    控制电机与特种电机、智能控制导论、机器人学基础、智能电网综合课程设计、智能控制综合课程设计等。
                </span>
                    <br>
                    <strong>>
                        <span style="font-size: 14pt;">
                            硕博点情况:</span></strong>
                    <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">
                         学校拥有1个一级学科硕士点——控制科学与工程，1个专业硕士学位点——电子信息。
                            </span>
                    <br>
                    <strong>>
                        <span style="font-size: 14pt;">
                                    就业去向：
                                </span></strong>
                    <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">
                      电气工程与智能控制专业主要针对工业生产过程及产品的智能化、
                        无人化技术快速发展对相应人才的大量需求，毕业主要从事新能源高效利用技术、
                        输变电技术、微电网技术、电机与运动控制、电动汽车、电源与电力电子装置、
                        电能存储与网络智能优化调度、现代企业生产和管理的自动控制、智能控制、
                        电气设备控制系统、人工智能等方面的研究、开发、应用、维护及管理工作，也可从事科研工作。
                                    </span>
                    <br>
                    <strong>>
                        <span style="font-size: 14pt;">
                            深造去向：</span></strong>
                    <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">
                        本专业毕业生可攻读电气工程、控制科学与工程等方向的硕士学位。
                    </span>
                    <br>
                    <strong>>
                        <span style="font-size: 14pt;">
                            培养对象：
                        </span></strong>
                    <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">
                       全日制大学本科，学制四年，授予工学学士学位。
                    </span>



</div>