<link rel="stylesheet" type="text/css"
      href="../../assets/admin/pages/css/major.css"/>
<div>
    <div class="introduce">
        <h2> 信息管理与信息系统</h2>
    </div>
    <p class="MsoNormal" style="text-align: center;"><strong style="text-align: left; text-indent: -18pt;">
        <span lang="EN-US" style="font-size: 14pt;"><br></span></strong></p>

    <strong style="text-align: left; text-indent: -18pt;">>
        <span style="font-size: 14pt;">招生类别：</span><strong>
            <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">理科</span>

            <br>
            <strong style="text-align: left; text-indent: -18pt;">>
                <span style="font-size: 14pt">培养目标:</span></strong>

            <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">
                本专业培养德、智、体、美、劳全面发展，能够适应国家经济建设、科技进步和社会发展需要，
                掌握计算机科学技术、信息技术和管理学基本理论知识，
                既具有信息系统的设计与开发能力，又懂管理知识，并具有信息处理与分析能力的复合型人才。</span>
            <br>
            <strong>>
                <span style="font-size: 14pt;">
                主要课程有:</span><strong>
                <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">
            程序设计基础、数据结构及算法、管理学、面向对象程序设计、计算机网络、操作系统、数据库原理及应用、离散结构、运筹学、
                    信息系统分析与设计、信息资源管理、Web前端开发技术、Web系统开发技术、信息与网络安全、数据分析与挖掘等。
                </span>
                    <br>
                    <strong>>
                        <span style="font-size: 14pt;">
                            硕博点情况:</span></strong>
                    <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">
                         我校设有计算机科学与技术、软件工程、管理科学与工程、工商管理、
                        技术经济及管理、企业管理、物流工程、工业工程、石油工程管理等硕士点。
                            </span>
                    <br>
                    <strong>>
                        <span style="font-size: 14pt;">
                                    就业去向：
                                </span></strong>
                    <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">
                     毕业后可以在国家机关和企事业单位从事信息系统开发和管理工作，也可在互联网、
                        云计算、大数据等行业从事系统研发及分析工作。如在微软、联想、SAP、用友、
                        金蝶等信息系统开发企业就业以及在工商银行、
                        中国银行、建设银行、中石油、中石化、京东、阿里巴巴、腾讯等信息系统管理部门就业。
                                    </span>
                    <br>
                    <strong>>
                        <span style="font-size: 14pt;">
                            深造去向：</span></strong>
                    <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">
                       本专业毕业生可攻读管理科学、计算机科学与技术等方向的硕士学位，硕士毕业后可继续攻读博士学位。
                    </span>
                    <br>
                    <strong>>
                        <span style="font-size: 14pt;">
                            培养对象：
                        </span></strong>
                    <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">
                       全日制大学本科，学制四年，授予管理学学士学位。要求考生身体健康、外语语种为英语。
                    </span>



</div>