<link rel="stylesheet" type="text/css"
      href="../../assets/admin/pages/css/major.css"/>
<div>
    <div class="introduce">
        <h2> 光电信息科学与工程</h2>
    </div>
    <p class="MsoNormal" style="text-align: center;"><strong style="text-align: left; text-indent: -18pt;">
        <span lang="EN-US" style="font-size: 14pt;"><br></span></strong></p>

    <strong style="text-align: left; text-indent: -18pt;">>
        <span style="font-size: 14pt;">招生类别：</span><strong>
            <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">理科</span>

            <br>
            <strong style="text-align: left; text-indent: -18pt;">>
                <span style="font-size: 14pt">培养目标:</span></strong>

            <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">
                本专业培养德、智、体、美、劳全面发展，为社会主义建设；掌握必备的数学、
                物理学等基础知识和专业知识；具有自主的学习能力和一定的创新创业意识；接受光电信息系统,
                光电子器件的设计、分析和科学研究方法等方面的基本训练，具有解决光通信、光电检测等领域的复杂工程问题的基本能力；
                毕业后能在光电信息工程、光电子工程等相关领域从事产品开发、制造、应用、管理等工作的高级工程技术人才。</span>
            <br>
            <strong>>
                <span style="font-size: 14pt;">
                主要课程有:</span><strong>
                <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">
            高等数学、大学物理及实验、光电信息物理、固体与半导体物理、应用光学、物理光学、信息光学、光电子学基础、
                    光电通信技术、光电检测技术、电路分析、模拟电子技术、数字电子技术、信号与系统、光电信息综合实验等。
                </span>
                    <br>
                    <strong>>
                        <span style="font-size: 14pt;">
                            硕博点情况:</span></strong>
                    <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">
                        我校设有仪器仪表工程、控制科学与工程、控制工程三个与本专业相关的硕士学位授权点。
                            </span>
                    <br>
                    <strong>>
                        <span style="font-size: 14pt;">
                                    就业去向：
                                </span></strong>
                    <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">
                      本专业就业方向主要在光电信息工程、光电子工程、光通信、
                        计算机、电子信息等领域从事科学研究、相关产品设计与制造、开发、应用、运行管理等工作。
                                    </span>
                    <br>
                    <strong>>
                        <span style="font-size: 14pt;">
                            深造去向：</span></strong>
                    <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">
                        本专业毕业生可以攻读光学工程、通信工程、电路与系统、
                        微电子、仪器仪表工程、控制科学与工程、控制工程等方向的硕士学位。

                    </span>
                    <br>
                    <strong>>
                        <span style="font-size: 14pt;">
                            培养对象：
                        </span></strong>
                    <span style="text-align:left ;text-indent:28pt;font-family: 宋体; font-size: 14pt;">
                        全日制大学本科，学制四年，授予工学学士学位。
                    </span>



</div>