<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css"
      href="../../assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="../../assets/global/plugins/select2/select2.css"/>
<link rel="stylesheet" type="text/css"
      href="../../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css"/>
<link rel="stylesheet" type="text/css"
      href="../../assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"/>

<div class="list_top_img">
    <img src="../../assets/admin/layout/img/f1_banner.jpg" alt="">
</div>
<div class="list m1200 cleafix">
    <div class="list_link fl">
        <h2>招生就业</h2>
        <ul>
            <li><a class="current" href="javascript:;" onclick="main.menuGoTo('/admissionEmployment/major','')" title="专业介绍">专业介绍</a></li>
            <li><a class="current" href="javascript:;" onclick="main.menuGoTo('/admissionEmployment/generalize','')" title="招生就业概括">招生就业概括</a></li>
            <li><a class="current" href="javascript:;" onclick="main.menuGoTo('/admissionEmployment/undergraduateAdmission','')" title="本科生招生网">本科生招生网</a></li>
            <li><a class="current" href="javascript:;" onclick="main.menuGoTo('/admissionEmployment/postgraduateAdmission','')" title="研究生招生信息">研究生招生信息</a></li>
            <li><a class="current" href="javascript:;" onclick="main.menuGoTo('/admissionEmployment/graduateEmployment','')" title="毕业生就业指导">毕业生就业指导</a></li>
            <li><a class="current" href="javascript:;" onclick="main.menuGoTo('/admissionEmployment/innovation','')" title="创新创业">创新创业</a></li>
        </ul>
    </div>

    <div class="dp fr">
        <div class="dp_t cleafix">
            <div class="dqwz fr">
                <i class="icon-home"></i>
                <span>当前位置：</span>
            #*<span><a href="javascript:;" onclick="main.menuGoTo('/index','')">学院首页</a></span>
            &gt;*#
                <span><a href="javascript:;" onclick="main.menuGoTo('/admissionEmployment','')">招生就业</a></span>
                &gt;
                <span><a href="javascript:;" onclick="main.menuGoTo('/admissionEmployment/undergraduateAdmission','')">本科生招生网</a></span>
            </div>
            <div class="fl">
                <h2>本科生招生网</h2>
            </div>
        </div>



    ##        <script language="javascript" src="/system/resource/js/ajax.js"></script><script language="javascript">_getBatchClickTimes('null',1447926190,'wbnews','u9')</script>
    ##        <script>function seeContenta9(contentid,size,displayid){	document.getElementById(contentid).innerHTML = '[';	for(var i=0;i<=size;i++){		var allcontentid = contentid+(i+1);		if(allcontentid==displayid){			document.getElementById(contentid).innerHTML += " <span id='"+allcontentid+"' name='"+allcontentid+"'  >"+(i+1)+"</span> ";			document.getElementById(displayid).style.display = 'block';		}else{			document.getElementById(contentid).innerHTML += " <span style='cursor:pointer' id='"+allcontentid+"' name='"+allcontentid+"' onclick=seeContenta9('"+contentid+"','"+size+"','"+allcontentid+"')  >"+(i+1)+"</span> ";			document.getElementById(allcontentid).style.display = 'none';		}	}	document.getElementById(contentid).innerHTML += ']';}</script>
    ##        <script>_addDynClicks('wbnews',1447926190,1963)</script>


    #*<div class="dp_c">
        <div id="vsb_content_1963_u91"><div id="vsb_content"><table width="89%" *##*align="center"*##* cellspacing="0" cellpadding="0" text-align="justify">
            <tbody>
            <tr class="firstRow">
                <td class="nhangjv" id="zoom" valign="top" td="" style="line-height: 19px; font-size: 14px;"><br> &nbsp; &nbsp;
                    <div id="BodyLabel">
 <span style="font-family: 黑体;line-height: 25px;letter-spacing: 5px;text-indent :40px;font-size: 20px;"> &nbsp; &nbsp; &nbsp;
  <div align="left">
西南石油大学是新中国创建的第二所石油本科院校，是一所中央与地方共建、以四川省人民政府管理为主的高等学校。2013年，学校入选"国家中西部高校基础能力建设工程"，成为入选该工程的100所高校之一。2017年9月，入选为国家首批“双一流”世界一流学科建设高校。
20世纪50年代中后期，我国石油工业相当落后，远远不能满足国家建设的需要，引起党和国家高度关注，毛泽东主席亲临四川隆昌气矿视察，中央政治局委员、中央政治局常务委员、中央书记处总书记邓小平亲自主持四川油气田勘探开发。1958年3月，位于南充东观、广安武胜、遂宁大英的三口探井喷出高产油流，震动全国，石油工业部部长余秋里将军坐镇南充，打响了川中石油大会战。为了加快开发四川石油天然气资源，也为西南协作区发展石油天然气工业培养技术干部，国家决定成立第二所石油高校，校址就设在川中石油会战指挥部所在地川北重镇南充市。      </div>
  </span> &nbsp; &nbsp;
                    </div></td>
            </tr>
            </tbody>
        </table>
            <p><br></p></div></div>
        <span id="vsb_content_1963_u9" name="vsb_content_1963_u9"></span><br><br>

    </div>

</div>*#
        <div style="font-family: 黑体;line-height: 25px;letter-spacing: 5px;text-indent :40px;font-size: 18px;">
            本科生招生网
        </div>

    </div>


    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="../../assets/global/plugins/select2/select2.min.js"></script>
    <script type="text/javascript"
            src="../../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="../../assets/global/plugins/components-pickers.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="/js/common/ajaxfileupload.js" type="text/javascript"></script>

