<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns="http://www.springframework.org/schema/beans"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       	http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd"

       default-lazy-init="false" default-autowire="byName">


     <!--&lt;!&ndash;单点登录拦截器配置 &ndash;&gt;-->
    <mvc:interceptors>
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/"/>-->
            <!--<bean id="userAuthInterceptor" class="cn.edu.swpu.info.college_website.web.interceptor.UserAuthInterceptor"/>-->
        <!--</mvc:interceptor>-->

        <!--&lt;!&ndash;权限拦截&ndash;&gt;-->
        <mvc:interceptor>
            <mvc:mapping path="/" />
            <bean id="_AdminLoginTicketInterceptor" class="cn.edu.swpu.info.college_website.web.interceptor.AdminLoginTicketInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>
