<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-autowire="byName">

    <!-- mvc controller -->
    <context:component-scan base-package="cn.edu.swpu.info.college_website.web"/>
    <!--<aop:aspectj-autoproxy proxy-target-class="true"/>-->
    <context:annotation-config/>

    <!--<bean id="permissionAspect" class="com.jd.smart_fridge_ops.web.aspect.PermissionAspect" />-->

    <!-- cookie related -->

    <!-- spring mvc related -->

    <!-- JSR-303 support will be detected on classpath and enabled automatically -->
    <mvc:annotation-driven conversion-service="conversionService">
        <!-- 消息转换器 -->
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes" value="text/html;charset=UTF-8"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <bean id="conversionService"
          class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <!--<property name="formatterRegistrars">-->
        <!--<bean class="com.jd.common.springmvc.converter.DefaultFormatterRegistrar" />-->
        <!--</property>-->
    </bean>
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设置上传文件的最大尺寸为1024MB -->
        <property name="maxUploadSize">
            <value>1073741824</value>
        </property>
    </bean>
    <mvc:default-servlet-handler/>

    <!-- static resources -->
    <mvc:resources location="/static/" mapping="/static/**"
                   cache-period="864000"/><!-- 24 * 3600 * 10 -->

    <bean name="velocityTools" class="java.util.HashMap">
        <constructor-arg>
            <map>
                <entry key="stringUtils">
                    <bean class="org.apache.commons.lang.StringUtils"/>
                </entry>
                <entry key="stringEscapeUtils">
                    <bean class="org.apache.commons.lang.StringEscapeUtils"/>
                </entry>
                <!--<entry key="dateFormatUtils">-->
                <!--<bean class="com.jd.common.util.DateFormatUtils"/>-->
                <!--</entry>-->
                <entry key="dateUtils">
                    <bean class="org.apache.commons.lang.time.DateUtils"/>
                </entry>
                <!--<entry key="localHost">-->
                <!--<bean class="com.jd.common.network.LocalHost"/>-->
                <!--</entry>-->
                <entry key="DateGenerator">
                    <bean class="java.lang.System"/>
                </entry>
                <!--<entry key="velocityMapTool">-->
                <!--<bean class="com.jd.smart_fridge_ops.web.common.VelocityMapTool"/>-->
                <!--</entry>-->
                <!--<entry key="velocityListTool">-->
                <!--<bean class="com.jd.smart_fridge_ops.web.common.VelocityListTool"/>-->
                <!--</entry>-->
                <entry key="domainUrl" value="http://localhost/">
                </entry>
            </map>
        </constructor-arg>
    </bean>

    <!-- template view -->
    <bean id="velocityConfig"
          class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath" value="/WEB-INF/vm/"/>
        <property name="velocityProperties">
            <props>
                <prop key="input.encoding">UTF-8</prop>
                <prop key="output.encoding">UTF-8</prop>
                <prop key="contentType">text/html;charset=UTF-8</prop>
                <prop key="velocimacro.library">common/macro.vm</prop>
                <prop key="eventhandler.referenceinsertion.class">
                    org.apache.velocity.app.event.implement.EscapeHtmlReference
                </prop>
                <prop key="eventhandler.escape.html.match">/^\$\!.*/</prop>
            </props>
        </property>
    </bean>
    <bean id="velocityViewResolver"
          class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
        <property name="layoutUrl" value="layout/default.vm"/>
        <property name="cache" value="false"/>
        <property name="suffix" value=".vm"/>
        <property name="exposeSpringMacroHelpers" value="true"/>
        <property name="dateToolAttribute" value="dateTool"/>
        <property name="numberToolAttribute" value="numberTool"/>
        <!-- Merge urlBuilderMap to view context for convenience. You can put your tools which must be thread safe. -->
        <property name="contentType" value="text/html;charset=UTF-8"/>
        <!-- velocity toolbox -->
        <property name="toolboxConfigLocation" value="/WEB-INF/vm/toolbox.xml"/>
        <property name="attributesMap" ref="velocityTools"/>
    </bean>

    <bean
            class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="defaultContentType" value="text/html"/>
        <!-- not by accept header -->
        <property name="ignoreAcceptHeader" value="true"/>
        <!-- by extension -->
        <property name="mediaTypes">
            <map>
                <entry key="xml" value="application/xml"/>
                <entry key="json" value="application/json"/>
            </map>
        </property>
        <property name="viewResolvers">
            <list>
                <ref bean="velocityViewResolver"/>
            </list>
        </property>
        <property name="defaultViews">
            <list>
                <!-- for application/json -->
                <bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"/>
            </list>
        </property>
    </bean>

    <!-- locale related -->
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
        <property name="cookieName" value="_clientlocale"/>
        <property name="defaultLocale" value="zh_CN"/>
        <property name="cookieMaxAge" value="2147483647"/>
    </bean>

    <!-- Access resource bundles with the specified basename -->
    <bean id="messageSource"
          class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <!--<property name="basenames" value="/WEB-INF/i18n/content,/WEB-INF/i18n/validation,/WEB-INF/i18n/asset,/WEB-INF/i18n/enum" />-->
        <property name="cacheSeconds" value="5"/>
    </bean>

    <!-- Kaptcha验证码生成器 -->
    <!--<bean name="producer" class="com.google.code.kaptcha.impl.DefaultKaptcha">-->
        <!--<property name="config">-->
            <!--<bean class="com.google.code.kaptcha.util.Config">-->
                <!--<constructor-arg>-->
                    <!--<props>-->
                        <!--<prop key="kaptcha.border">no</prop>-->
                        <!--<prop key="kaptcha.textproducer.font.color">black</prop>-->
                        <!--<prop key="kaptcha.textproducer.char.space">5</prop>-->
                    <!--</props>-->
                <!--</constructor-arg>-->
            <!--</bean>-->
        <!--</property>-->
    <!--</bean>-->
    <!-- exception related -->
    <!-- all exception handler will be registered by DispatcherServlet default (detectAllHandlerExceptionResolvers=true) -->
    <!--<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">-->
    <!--<property name="defaultErrorView" value="common/error"/>-->
    <!--<property name="exceptionMappings">-->
    <!--<props>-->
    <!--<prop key="com.jd.common.hrm.IllegalHrmPrivilegeException">error/access-denied</prop>-->
    <!--</props>-->
    <!--</property>-->
    <!--</bean>-->

</beans>
